.App {
  text-align: center;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

nav h3{
  float: left;
  color: #fff;
}

nav{
  width: 100%;
  float: left;
  background: #000;
}

.nav-links{
  float: right;
}

nav ul li{
  float: left;
  list-style: none;
  margin-left: 8px;
  margin-right: 8px;
  color : #fff;
}


.content{

}

.content h1{
  float: left;
}